
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$ocre: #B09B27;
$yellow: #FCC536;
$sun: #FEF1D0;
$marine: #1C687D;
$blue: #1CADC3;
$pastel: #D7F0F4;
$dark: #1C2230;
$gray: #657386;
$medium: #A1ABBE;
$light: #eee;
$fuxia: #DD177A;
