@import url(https://fonts.googleapis.com/css?family=Nunito);/* --------------------FORMULARI----------------------------- */

.card-formulari {
  border: none;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 1em;
}

.card-formulari .card-header-formulari {
  background-color: #1C687D;
  border-radius: 1em 1em 0em 0em;
  display: flex;
  align-items: center;
  padding: 14px 30px;
}

.card-formulari .card-header-formulari h2 {
  color: white;
  font-weight: 600;
  font-size: 26px;
  padding: 0px;
  margin: 0px;
}

.card-formulari .card-body-formulari {
  padding: 0px;
}

.card-formulari .card-body-formulari .card-subheader-formulari {
  border-top: 1px solid #1C687D;
  border-bottom: 1px solid #1C687D;
  display: flex;
  align-items: center;
  padding: 14px 30px;
}

.card-formulari .card-body-formulari .card-subheader-formulari h3 {
  color: #1C687D;
  font-weight: 400;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

.card-formulari .card-body-formulari .card-subbody-formulari {
  background-color: #eee;
  padding: 14px 30px;
}

.card-formulari .card-body-formulari .card-subbody-formulari p {
  font-size: 14px;
  line-height: 22px;
  color: #1C2230;
}

.nuevaIncidencia {
  border: 0;
}

.nuevaIncidencia a {
  color: white;
  text-decoration: none;
}

.hidden{
    display: none;
}

.hidden1{
    display:none;
}
