html,
body {
    min-height: 100vh;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#logo {
    width: 60px;
    height: 60px;
}

h1 {
    font-weight: bold;
}

#login {
    padding-left: 80px;
    font-weight: bold;
    padding-right: 80px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #1CADC3;
}

#novaIncidencia {
    padding-left: 45px;
    font-weight: bold;
    padding-right: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 60px;
    border: none;
    color: white;
    background-color: #DD177A;
}

#signup {
    padding: 6px 40px;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    color: #FEF1D0;
    background-color: #FCC536;
    text-decoration: none;
}

#nom {
    border: none;
    background: #FEF1D0;
    color: #B09B27;
    padding-left: 20px;
}

#contrasenya {
    border: none;
    background: #FEF1D0;
    color: #B09B27;
    padding-left: 20px;
}

#userEmail {
    border: none;
    background: #FEF1D0;
    color: #B09B27;
    padding-left: 20px;
}

#userType {
    border: none;
    background: #FEF1D0;
    /* color: #B09B27; */
    padding-left: 20px;
}

#userConfirmPassword {
    border: none;
    background: #FEF1D0;
    color: #B09B27;
    padding-left: 20px;
}

#cuenta {
    color: #1C687D;
    font-weight: bold;
}

#registrarse {
    color: #1C687D;
}

footer {
    border-top: 1px solid rgba(161, 171, 190, 0.25);
}

footer p {
    color: #657386;
}

/* -------------------------------------------PAGINA PRINCIPAL----------------------------------------- */

.bodyPrincipal {

    margin-top: 20px;
    font-size: 14px;
    margin-left: 50px;
}

.bodyPrincipal>h2 {

    font-weight: bold;

}

.queFem,
.quiSom {
    display: flex;
}



/* -------------QUE FEM------------------ */

.bodyPrincipal>.queFem>img {

    width: 400px;
    margin-left: 60px;
}

.bodyPrincipal>.queFem>.text {

    margin-top: 20px;
    width: 600px;
}

.bodyPrincipal>.queFem>.text>p {

    margin-top: 20px;
}


/* -------------QUI SOM------------------ */

.bodyPrincipal>.quiSom>img {

    width: 430px;
    height: 350px;
    margin-bottom: 20px;
}

.bodyPrincipal>.quiSom>.text {

    margin-top: 40px;
    width: 600px;
}

.bodyPrincipal>.quiSom>.text>p {

    margin-top: 20px;

}


/* -------------------------------------------------PRINCIPAL-------------------------------- */

.nuevaIncidencia {

    /* padding: 20px; */
    background-color: #DD177A;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    width: 200px;
    height: 84px;
    margin-left: 900px;
}

#tabla-principal {

    margin-top: 20px;
}

/* --------------------------------HISTORIAL------------------------------------
.content{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 30px;
    margin-bottom: 30px;
}

.content > .historial{

    margin-right: 50px;
}
.botonBuscar{

    border-radius:50px;
    padding:7px;
    background-color:#D7F0F4;
    margin-bottom: 40px;

}

.formFiltros{

    width: 450px;
}

input, select{
    border-radius: 15px;
}

.boxFiltroHistorial{
    background-color: white;
    border:#D7F0F4 12px solid;
}

.boxFiltroHistorial > .form-group{

    margin-top: 15px;
}

.reset{
    margin-left: 200px;
}
.reset, .submit{

    background-color: #1CADC3;
    color: white;
    width: 100px;
    font-weight: bold;
    margin-top: 20px;

}

*/

/* --------------------NOVA INCIDENCIA----------------------------- */

.card-title {
    background-color: #1C687D;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.card-title>p {

    color: white;
    font-weight: bold;
    font-size: 24px;
    margin-top: 5px;
    margin-left: 30px;
}

#accordion>button {

    text-decoration: none;
}
