html,
body {
    min-height: 100vh;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/* #novaIncidencia {
    padding-left: 45px;
    font-weight: bold;
    padding-right: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 60px;
    border: none;
    color: white;
    background-color: #DD177A;
} */

#signup {
    padding: 6px 40px;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    color: #FEF1D0;
    background-color: #FCC536;
    text-decoration: none;
}


/* --------------------------------HISTORIAL------------------------------------
.content{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 30px;
    margin-bottom: 30px;
}

.content > .historial{

    margin-right: 50px;
}
.botonBuscar{

    border-radius:50px;
    padding:7px;
    background-color:#D7F0F4;
    margin-bottom: 40px;

}

.formFiltros{

    width: 450px;
}

input, select{
    border-radius: 15px;
}

.boxFiltroHistorial{
    background-color: white;
    border:#D7F0F4 12px solid;
}

.boxFiltroHistorial > .form-group{

    margin-top: 15px;
}

.reset{
    margin-left: 200px;
}
.reset, .submit{

    background-color: #1CADC3;
    color: white;
    width: 100px;
    font-weight: bold;
    margin-top: 20px;

}

*/

/* --------------------NOVA INCIDENCIA----------------------------- */

.card-title {
    background-color: #1C687D;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.card-title>p {

    color: white;
    font-weight: bold;
    font-size: 24px;
    margin-top: 5px;
    margin-left: 30px;
}

#accordion>button {

    text-decoration: none;
}

.nourecurs{
    background: #FCC536;
    border-radius: 23px;
    border:none;

    font-weight: bold;
    width: 200px;
    height: 34px;


}

.nourecurs a{
    text-decoration: none;
    color: white;
}

/* --------------------ALERTANTS----------------------------- */

#tipus_selected{
    border:none;
    border-bottom: #1C687D 1px solid;
}
