body{
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

#logo{
    width:60px;
    height:60px;
}

#signup{
    padding-left:45px;
    font-weight: bold; 
    padding-right:45px;
    border-radius:30px; 
    border:none; 
    color:white; 
    background-color:#FCC536;
  }

footer{
    border-top: 1px solid rgba(161, 171, 190, 0.25);
}

footer p{
    color: #657386;
}

